<% content_for :title do %>Help<% end %>
<h2>How to add links</h2>
<p>
  To add links to Lectio drag this button to your browser's Bookmark Toolbar.
</p>

<a class="btn btn-default" title="Read This" href='javascript:
(function(){
  open("<%= root_url + new_link_path + "?url="%>" + window.location, "NewLink", "toolbar=no,menubar=no,location=no");
})()'>
  ✚ Lectio
</a>

Please note that some sites will not work, due Content Security Proctection, but you can always copy&paste the URL.

To learn more about the issue see the "Shortcomings" section at https://github.com/blog/1477-content-security-policy

<h4>How to enable Bookmark Toolbar in your browser</h4>

<ul>
  <li>
    Mozilla Firefox: Right-click over the toolbar -> Bookmarks Toolbar
  </li>
  <li>
    Google chrome: Menu -> Bookmarks -> Show bookmarks bar
  </li>
</ul>
