<div class="container-fluid">
  <div class="well well-lg">
    <% @links.each_slice(4) do |link_set| %>
    <div class="row">
      <% link_set.each do |link| %>
      <div id='link_<%= link.id %>'>
        <%= render partial: 'link_row', locals: {link: link} %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= paginate @links %>
</div>
<br>

<%= link_to 'New Link', new_link_path %>
