@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  background-color: #393f3f;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}
main {
  background-color: #393f3f;
}
footer {
  background-color: #4a5252;
}
